<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ArForms</title>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    <link rel="stylesheet/less" type="text/css" href="/static/styles/ar_forms.less"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="/static/js/ar_forms.js"></script>
</head>
<body>
<div id="layout">
    {% with section='about' %}
        {% include 'menu.html' %}
    {% endwith %}

    <div id="main">
        <div class="header">
            <h1>Welcome to ArForms!</h1>
            <h2>One more application for tests and polls</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <h2 class="content-subhead">What is it?</h2>
                <p class="justified-text">
                    ArForms allows you to conduct polls and tests.
                    The site provides convenient interfaces for creating, administering and passing surveys.
                    You can share the link to the form so that other users can take your survey.
                    Data on submitted forms can be downloaded as CSV files.
                </p>
                <h2 class="content-subhead">Инструкция (Русский)</h2>
                <p class="justified-text">
                    Чтобы начать нужно <a href="/edit_form?form_id=0">создать форму</a>.
                    Заполните список вопросов и ответов.
                    Когда форма будет готова нажмите кнопку <span class="text-success">save</span>
                    Чтобы завершить редактирование нажмите кнопку <span class="text-error">cancel</span>.
                    На данный момент доступны формы двух типов: опрос и тест.
                    Для тестов доступна автоматическая проверка некоторых типов вопросов.
                    В зависимости от типа вопроса позволяется выбрать один или несколько ответов.
                    Также доступны вопросы со свободным ответом, но для них отсутствуют средства автоматической
                    проверки.
                </p>
                <p class="justified-text">
                    После редактирования форму можно менять неограниченное число раз.
                    При этом форма не видна остальным пользователям.
                    Чтобы открыть доступ к форме её нужно опубликовать.
                    Сделать это можно со страницы редактирования или страницы со списком всех форм.
                    После публикации редактирование формы становится недоступным.
                    <span class="text-error">Отменить публикацию невозможно!</span>
                </p>

                <h2 class="content-subhead">Instruction (English)</h2>
                <p class="justified-text">
                    To start, you need to <a href="/edit_form?form_id=0">create a form</a>.
                    Fill out the list of questions and answers.
                    When the form is ready, click the <span class="text-success">save</span> button.
                    To finish editing, click <span class="text-error">cancel</span>.
                    Two types of forms are currently available: poll (survey) and test.
                    For tests, automatic checking of some types of questions is available.
                    Depending on the type of question, one or more answers are allowed.
                    Questions with a free answer are also available, but there are no automatic
                    verification tools for them.
                </p>
                <p class="justified-text">
                    After editing, the form can be changed an unlimited number of times.
                    However, the form is not visible to other users.
                    To open access to the form you need to publish it.
                    This can be done from the edit page or a page with a list of all forms.
                    After publication, editing of the form becomes unavailable.
                    <span class="text-error">Publication is irreversible!</span>
                </p>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>