<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ArForms</title>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    <link rel="stylesheet/less" type="text/css" href="/static/styles/ar_forms.less"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="/static/js/ar_forms.js"></script>
</head>
<body>
{% include 'modals.html' %}
<div id="layout">
    {% with section='dashboard' %}
        {% include 'menu.html' %}
    {% endwith %}

    <div id="main">
        <div class="header">
            <h1>Hello, {{ user.display_name }}!</h1>
            <h2>What will we do today?</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <div class="content-subhead-with-button">
                    <h2 class="content-subhead">Your forms</h2>
                    {% if forms|length != 0 %}
                        <button class="pure-button button-success" name="new_form_button">New</button>
                    {% endif %}
                </div>
                {% if forms|length == 0 %}
                    <span>You have not created any forms</span>
                    <button class="pure-button button-success" name="new_form_button">Create it now!</button>
                {% else %}
                    <table class="pure-table pure-table-horizontal own-forms-table">
                        <thead>
                        <tr>
                            <td class="centered-text">Type</td>
                            <td>Title</td>
                            <td class="centered-text">Published</td>
                            <td class="centered-text">Actions</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in forms %}
                            <tr class="form-table-row {% if form.is_public %}published-form{% endif %}"
                                form_id="{{ form.id }}">
                                <td class="fit-width">{{ form.form_type.name }}</td>
                                <td>{{ form.title }}</td>
                                <td class="fit-width"><span class="icon-published"></span></td>
                                <td class="fit-width">
                                    <div class="action-button-group">
                                        <button form_id="{{ form.id }}"
                                                name="button-edit"
                                                class="button-edit"
                                                title="Edit"></button>

                                        <button form_id="{{ form.id }}"
                                                name="button-publish"
                                                class="button-publish"
                                                title="Publish"></button>

                                        <button form_id="{{ form.id }}"
                                                name="button-share"
                                                class="button-share"
                                                title="Copy link"></button>

                                        <button form_id="{{ form.id }}"
                                                name="button-download"
                                                class="button-download"
                                                title="Download statistics"></button>

                                        <button form_id="{{ form.id }}"
                                                name="button-delete"
                                                class="button-delete"
                                                title="Delete"></button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>