<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ArForms</title>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    <link rel="stylesheet/less" type="text/css" href="/static/styles/ar_forms.less"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="/static/js/ar_forms.js"></script>
</head>
<body>

<div id="layout">
    {% with section='' %}
        {% include 'menu.html' %}
    {% endwith %}

    <div id="main">
        <div class="header">
            <h1>The requested page does not exists</h1>
            <h2>404 NOT FOUND</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <h2 class="content-subhead">Why?</h2>
                <p>This could happen for the following reasons:</p>
                <ul>
                    <li>The page has been deleted or renamed</li>
                    <li>The page is not created yet</li>
                </ul>
                <a href="/" class="pure-button pure-button-primary">Return to the main page</a>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>